apiVersion: k3d.io/v1alpha5
kind: Simple

metadata:
  name: __K3D_CLUSTER__

servers: 1
agents: 0

kubeAPI:
  hostIP: "127.0.0.1"
  hostPort: "6445"

ports:
  - port: "8087:80"
    nodeFilters:
      - loadbalancer

registries:
  config: |
    mirrors:
      "__HARBOR_HOSTNAME__":
        endpoint:
          - "https://__HARBOR_HOSTNAME__"
    configs:
      "__HARBOR_HOSTNAME__":
        tls:
          insecure_skip_verify: true

hostAliases:
  - ip: "__HARBOR_HOST_IP__"
    hostnames:
      - __HARBOR_HOSTNAME__

options:
  k3d:
    wait: true
    timeout: "120s"
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
